# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# App specific files.
.DS_Store
/tmp
/bin
.env*
.azure/
.bash_history
node_modules
package-lock.json
/deploy/azure/ambient