{{define "head"}}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0">
    <title>{{if .title}}{{.title}} | {{end}}{{SiteTitle}}</title>
    <meta name="author" content="{{SiteAuthor}}">
    <meta name="description" content="{{if .metadescription}}{{.metadescription}}{{else}}{{SiteDescription}}{{end}}">
    {{if .canonical}}<link rel="canonical" href="{{.canonical}}" />{{end}}
    {{block "PluginHeadContent" ""}}{{end}}
</head>
{{end}}