<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body>
    <header>
        <a class="title" href="/">
            <h2>{{SiteSubtitle}}</h2>
        </a>
        {{template "nav" .}}
    </header>
    <main>
        {{if .title}}
        <h1>{{.title}}</h1>
        {{end}}
        {{if .pubdate}}
        <p>
            <i>
                <time datetime="{{.pubdate | Stamp}}" pubdate>
                    {{.pubdate | StampFriendly}}
                </time>
                {{if Authenticated}}<a href="/dashboard/posts/{{.id}}">edit</a>{{end}}
            </i>
            
        </p>
        {{end}}
        <content>
            {{if .query}}
            <h3 style="margin-bottom:0">Filtering for "{{.query}}"</h3>
            <small>
                <a href="/blog">Remove filter</a>
            </small>
            {{end}}
            {{template "content" .}}
        </content>
        {{if .tags}}
        <small>
            <div>
                {{range $p := .tags}}
                <a href="/blog?q={{.Name}}">#{{.Name}}</a>
                {{end}}
            </div>
        </small>
        {{end}}

        <div id="disqus_thread"></div>
    </main>
    {{template "footer" .}}
    {{block "PluginBodyContent" ""}}<!-- No plugins. -->{{end}}
</body>
</html>