<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body>
    <header>
        <a class="title" href="/">
            <h2>{{SiteSubtitle}}</h2>
        </a>
        {{template "nav" .}}
    </header>

    <main>
        {{if .title}}
        <h1>{{.title}}</h1>
        {{end}}
        <content>
            {{template "content" .}}
        </content>
    </main>
    {{template "footer" .}}
    {{block "PluginBodyContent" ""}}<!-- No plugins. -->{{end}}
</body>
</html>