<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body>
    {{template "header" .}}
    <main>
        {{if .title}}
        <h1>{{.title}}</h1>
        {{end}}
        <content>
            {{template "content" .}}
        </content>
    </main>
    {{template "footer" .}}
    {{block "PluginBodyContent" ""}}<!-- No plugins. -->{{end}}
</body>
</html>