<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body>
    {{template "header" .}}
    <main>
        {{template "content" .}}
        {{block "PluginMainContent" ""}}{{end}}
    </main>
    {{template "footer" .}}
    {{block "PluginBodyContent" ""}}{{end}}
</body>
</html>