<!DOCTYPE html>
<html lang="en">
<head>
    {{block "PluginHeadContent" ""}}{{end}}
</head>
<body>
    <header>
        {{block "PluginHeaderContent" ""}}{{end}}
    </header>
    <main>
        {{template "content" ""}}
        {{block "PluginMainContent" ""}}{{end}}
    </main>
    <footer>
        {{block "PluginFooterContent" ""}}{{end}}
    </footer>
    {{block "PluginBodyContent" ""}}{{end}}
</body>
</html>