<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body>
    {{template "header" .}}
    <main>
        {{if .title}}
        <h1>{{.title}}</h1>
        {{end}}
        <p>
            <i>
                <time datetime="{{.pubdate | Stamp}}" pubdate>
                    {{.pubdate | StampFriendly}}
                </time>
                {{if Authenticated}}<a href="/dashboard/posts/{{.id}}">edit</a>{{end}}
            </i>
        </p>
        <content>
            {{template "content" .}}
        </content>
        {{if .tags}}
        <small>
            <div>
                {{range $p := .tags}}
                <a href="/blog?q={{.Name}}">#{{.Name}}</a>
                {{end}}
            </div>
        </small>
        {{end}}
        <div id="disqus_thread"></div>
    </main>
    {{template "footer" .}}
    {{block "PluginBodyContent" ""}}<!-- No plugins. -->{{end}}
</body>
</html>