<h1>{{.title}}</h1>
<form method="POST" class="post-form">
    <input type="hidden" name="token" value="{{.token}}">
        {{if .plugins }}
            {{range $p := .plugins}}
            <p>
                <h3>{{.Name}}</h3>
                <label for="id_{{.Name}}">Enable:</label>
                <input type="checkbox" name="{{.Name}}" id="id_{{.Name}}" {{if .Enabled}}checked{{end}}>
                <span class="helptext">
                {{if .Grants}}<a href="/dashboard/plugins/{{.Name}}/grants">Grants</a>{{end}}
                {{if .Settings}}<a href="/dashboard/plugins/{{.Name}}/settings">Settings</a>{{end}}
                <a href="/dashboard/plugins/{{.Name}}/delete">Reset</a>
                </span>
            </p>
            {{end}}
            <button type="submit" class="save btn btn-default">Save</button>
        {{else}}
        <p>
            <span>
                <i>
                    No plugins.
                </i>
            </span>
        </p>
        {{end}}
</form>