{{define "content"}}
<a href="/dashboard/plugins">Back</a>
<form method="POST" class="post-form">
    <input type="hidden" name="token" value="{{.token}}">
        {{if .settings }}
            {{range $id, $p := .settings}}
            <p>
                <label for="id_field{{.Index}}">{{.Name}}:</label>
                <input type="input" name="field{{.Index}}" id="id_field{{.Index}}" value="{{.Value}}">
            </p>
            {{end}}
            <button type="submit" class="save btn btn-default">Save</button>
        {{else}}
        <p>
            <span>
                <i>
                    No settings.
                </i>
            </span>
        </p>
        {{end}}
</form>
{{end}}