<h1>{{.title}}</h1>
<a href="{{URLPrefix}}/dashboard/plugins">Back</a>
<form method="POST" class="post-form">
    <input type="hidden" name="token" value="{{.token}}">
        {{if .settings }}
            {{range $id, $p := .settings}}
            <p>
                <label for="id_field{{.Index}}">{{.Name}}:</label>
                {{if eq .FieldType "textarea"}}
                <textarea name="field{{.Index}}" id="id_field{{.Index}}" cols="40" rows="20">{{.Value}}</textarea>
                {{else if eq .FieldType "checkbox"}}
                <input type="checkbox" name="field{{.Index}}" id="id_field{{.Index}}" value="true" {{ if eq .Value "true" }}checked{{end}}>
                {{else if eq .FieldType "password"}}
                <input type="password" name="field{{.Index}}" id="id_field{{.Index}}" value="{{.Value}}">
                {{else}}
                <input type="input" name="field{{.Index}}" id="id_field{{.Index}}" value="{{.Value}}">
                {{end}}
                {{if .Description.Text}}
                <span class="helptext">
                    {{ if .Description.URL}}
                    <a href='{{.Description.URL}}' target='_blank'>{{.Description.Text}}</a>
                    {{else}}
                    {{.Description.Text}}
                    {{end}}
                </span>
                {{end}}
            </p>
            {{end}}
            <button type="submit" class="save btn btn-default">Save</button>
        {{else}}
        <p>
            <span>
                <i>
                    No settings.
                </i>
            </span>
        </p>
        {{end}}
</form>