<h1>{{.title}}</h1>
<a href="{{URLPrefix}}/dashboard/posts/new">New post</a>
<ul class="post-list">
    {{range $id, $p := .posts}}
    <li>
        <span>
            <i>
                <time datetime="{{.Timestamp | bearblog_Stamp}}" pubdate>
                    {{.Timestamp | bearblog_Stamp}}
                </time>
            </i>
        </span>
        <a href="{{URLPrefix}}/dashboard/posts/{{.ID}}">{{if .Page}}[Page] {{end}}{{.Title}}</a>
        {{if not .Published}}
        <small>(not published)</small>
        {{end}}
    </li>
    {{end}}
</ul>