{{if .title}}
<h1>{{.title}}</h1>
{{end}}
<p>
    <i>
        <time datetime="{{.pubdate | bearblog_Stamp}}" pubdate>
            {{.pubdate | bearblog_StampFriendly}}
        </time>
        {{if bearblog_Authenticated}}<a href="{{URLPrefix}}/dashboard/posts/{{.id}}">edit</a>{{end}}
    </i>
</p>
<content>
    {{.postcontent}}
</content>
{{if .tags}}
<small>
    <div>
        {{range $p := .tags}}
        <a href="{{URLPrefix}}/blog?q={{.Name}}">#{{.Name}}</a>
        {{end}}
    </div>
</small>
{{end}}