<h1>{{.title}}</h1>
<a href="{{URLPrefix}}/dashboard/plugins">Back</a>
{{if .trusted}}<p><i>This plugin is trusted so all permissions are granted.</i></p>{{end}}
<form method="POST" class="post-form">
    <input type="hidden" name="token" value="{{.token}}">
        {{if .grants }}
            <div style="margin-top: 16px;">
                <a href="javascript:void(0);" onClick="setCheckboxes(true);">Select all</a> <a href="javascript:void(0);" onClick="setCheckboxes(false);">Deselect all</a>
            </div>
            {{range $id, $p := .grants}}
            <p>
                <label for="id_field{{.Index}}">{{.Name}}</label>
                <input type="checkbox" name="field{{.Index}}" id="id_field{{.Index}}" value="true" {{if .Granted}}checked{{end}}>
                {{if .Description}}
                <span class="helptext">
                    {{.Description}}
                </span>
                {{end}}
            </p>
            {{end}}
            <button type="submit" class="save btn btn-default">Save</button>
        {{else}}
        <p>
            <span>
                <i>
                    No grants.
                </i>
            </span>
        </p>
        {{end}}
</form>

<script type="application/javascript">
function setCheckboxes(desired) {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    for (var i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i].checked != desired)
            checkboxes[i].checked = desired;
    }
}
</script>